.col-12 .product-card{
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 2fr;
    gap: 15;
    align-items: center;

    
}

.product-card {
    padding: 15px;
    background-color: white;
    border-radius:10px ;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10196);

    

    a {
        color: var(--color-131921);
    }

    &:hover .action-bar {
        right: 5%;
    }
    &:hover .product-image img {
        object-fit: cover;
    }
    .wishlist-icons {
        
        top: 5%;
        right: 5%;

        img {
            width: 28px;
        }

    }
    
    .product-details {

        h6{
            color: var(--color-bf4800);
            font-size: 13px;
        }
        h5 {
            font-size: 15px;
            color: var(--color-1c1c1v);
        }
        .price {
            margin-top: 4px;
            font-size: 16px;
            color: var(--color-1c1c1v);
            
        }
        .description {
            padding: 6px 0;
            font-size: 14px;
            color: var(--color-7777777);
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    .action-bar {
        top: 25%;
        right: -35px;
        transition: 0.3s;

        img {
            width: 32px;
        }
    }
}
.cancel-item:hover,
.tym-item:hover {
    color: red;
}
.addCart-item-icon:hover {
    color: var(--color-febd69);
}
.seeItem-icon img:hover {
    color: rgba(9, 121, 234, 0.612);
}