* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* collections */
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.gap-45 {
  gap: 45px;
}
.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
}
.btn-scroll {
  background-color: #0dcaf0;
  color: white;
  border: none;
  font-size: 14px;
  padding: 12px;
  border-radius: 15px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;

}
.btn-2 {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 16px;
  padding: 14px 48px;
  border-radius: 15px;
}
.btn-3 {
  background-color: white;
  font-weight: 300;
  border: 1px solid var(--color-7777777);
    border-radius: 5px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    display: inline-flex;

    
}
.btn-3:hover {
  color: #ee2c4a;
  border-color: #ee2c4a;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-bf4800: #bf4800;
  --color-1c1c1b: #1c1c1b;
  --color-7777777: #777777;
  --color-f7f7f7: #f7f7f7;
  --color-fafafa: #fafafa;
}
.flex-alight-center {
  display: flex;
  align-items: center;
}
html,body {
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}
a {
  color: #3b4149;
  text-decoration: none;
  display: inline-block;
}
button:hover, a:hover {
  opacity: .8;
}
p {
  margin: 0;
}
ul {}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
/* PC */
@media (min-width: 1024px) {
    
}
/* Tablet && Mobie */
@media (max-width: 1200px) {
    p {
      display: none;
    }
}
/* Tablet */
@media (min-width: 740px ) and (max-width: 1023px) {
  .header-upper-links-item {
    font-size: 32px !important;
  } 
  .header-upper-links p {
    display: none;
  }
   
  
}

/* Mobie */
@media (max-width: 740px) {
    
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.options {
  padding-bottom: 15px;
}

.options-header {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-item {
  padding: 8px 15px;
  border: 1px solid #2898ec;
  border-radius: 25px;
  color: #1f91e7;
  font-size: 0.9rem;
  margin: 3px;
  box-shadow: inset 0px 0px 0px #2273c4;
  transition: all 0.5s;
  cursor: pointer;
}

.option-item:hover {
  box-shadow: inset 380px 0px 0px #2273c4;
  color: #ffffff;
}

.stats {
  color: white;
  font-size: 0.9rem;
  background-color: rgba(45, 159, 253, 0.589);
  display: flex;
  background: linear-gradient(to top right, rgb(15, 146, 221), #055991);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.column-left {
  text-align: right;
}
.column-right {
  text-align: left;
  padding: 8px;
}

.url-link {
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 3px;
  background-color: #2273c4;
  display: flex;
  align-items: center;
  color: #fff;
}
.url-icon {
  width: 35px;
  margin-right: 10px;
}
.url-header {
  font-size: 0.9rem;
  font-weight: lighter;
}

.tel-link {
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 30px;
  background-color: #2273c4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  fill: #fff;
}

.app-chatbot-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  background-color: #0d2d44;
  border: none;
  position: fixed;
  bottom: 25px;
  z-index: 9999;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}
.app-chatbot-button:hover {
  transform: scale(1.1);
}
.app-chatbot-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 40px;
  bottom: 55px;
  z-index: 9999;
  box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4);
  border-radius: 5px;
}
.app-chatbot-button-icon {
  fill: #fff;
}
.react-chatbot-kit-chat-bot-message {
  background-color: #2898ec;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    margin-right: auto;
    text-align: left;
    max-width: 75%;
}
.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-start;
  gap: 15px;
}
.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 400px;
}
.react-chatbot-kit-chat-bot-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 12.5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-chatbot-kit-chat-bot-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #2898ec;
  position: absolute;
  left: -7px;
  top: 13px;
}
.react-chatbot-kit-chat-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-chatbot-kit-chat-input-form {
  width: 45%;
  display: flex;

}
.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
}
.react-chatbot-kit-chat-input:focus {
  border: none;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #2898ec;
    width: 42px;
    fill: white;
    padding: 8px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
}
.react-chatbot-kit-user-chat-message {
  background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #000;
    font-weight: medium;
    position: relative;
    margin-left: auto;
    text-align: left;
    max-width: 75%;
}
.react-chatbot-kit-user-avatar {
  display: none;
}
.react-chatbot-kit-user-chat-message-container {
  margin: 10px 0;
}