.main-order-wrapper {
    .order-heading {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        p {
            white-space: nowrap;
        }
        .form-select {

        }
    }
    .order-container {
        
    }
}
