.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}
.input-label {
  font-size: 24px;
  font-weight: 500;
}
.input-e {
    padding: 12px 10px;
    font-size: 18px;
}
.login-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  padding: 24px;
}
.login-form {
  background-color: white;
  border-radius: 20px;
  padding: 0 30px;
}
.login-container {
  background-color: white;
  padding: 24px;
}